@model Assignment3_Csharp_DucMinhHuynh.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show of teacher</h2>
    <div>|| @Model.teacherfname || @Model.teacherlname || @Model.coursetaught || @Model.salary || @Model.hiredate || </div>
